html, body{
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: white;
	background: -webkit-radial-gradient(circle,white 50%, rgb(240,240,240) 75%, rgb(175,175,175));
  	background: -o-radial-gradient(circle,white 50%, rgb(240,240,240) 75%, rgb(175,175,175));
  	background: -moz-radial-gradient(circle,white 50%, rgb(240,240,240) 75%, rgb(175,175,175));
	background: radial-gradient(circle,white 50%, rgb(240,240,240) 75%, rgb(175,175,175));
	background-size: cover;
}	

.c{
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0;
	padding: 0;
}
